*{
    color: #f4f4f4;
}

body{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    background-color: #000;
}

pre{
    background-color: #0f0f0f;
    padding: 10px;
}

code{
    color: #0fafff;;
}

img{
    display: block;
    margin: 0 auto;
}

