body{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

pre{
    background-color: #f4f4f4;
    padding: 10px;
}

code{
    color: #d63384;;
}

img{
    display: block;
    margin: 0 auto;
}